@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

body{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	background-color: #fff;
    font-weight: 300;
	min-width: 100%;
	color: #333333;
}
html,body{
    margin:0;
    padding:0;
    border:0;
}

.disabled-search-button {
    pointer-events: none;
    opacity: 0.4;
}
[class*="col" ] { min-height:0px; }
.clr{
	clear:both;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}
a, a:visited, a:focus, a:active, a:hover{
  outline:0 none !important;
  color: #333333;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.navbar-nav a{
    color: #242424;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-nav li a{
    font-size: 16px;
    font-weight: normal;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.navbar-nav li a:hover{
    color: #a4754f;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.navbar-nav li a{
    font-weight: bold;
}
#navbarCollapse {
    float: right;
    margin-top: 10px;
}
#top{
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
}
#top li{
    display: inline-block;
}
#top li:nth-child(1){
    margin-right: 20px;
}
.email-icon{
    height: 17px;
}
#top .toRight{
    float: right;
}
header{
    padding: 20px 0;
}
header li{
    display: inline-block;
    margin-left: 40px;
}
header p{
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.phone-call{
    background: url(../img/phone-icon.png) no-repeat 0 10px transparent;
    padding-left: 40px;
}
.wishlist{
    background: url(../img/wishlist-icon.png) no-repeat 0 8px transparent;
    padding-left: 40px;
}
.basket{
    background: url(../img/basket-icon.png) no-repeat 0 11px transparent;
    padding-left: 45px;
    position: relative;
}
.num-basket{
    background-color: #ffd54c;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 7px;
}
header ul{
    float: right;
}
#main{
    background: url(../img/main-bg.jpg);
    width: 100%;
    height: 466px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}
.top-form select{
    width: 100%;
    border:1px solid #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 3px;
}
.button{
    background-color: #ffd54c;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    z-index: 99999;
    position: relative;
    font-weight: 500;
}
.button:hover{
    background-color: #202020;
    color: #ffd54c;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
#boxes{
    margin: 30px 0;
}
#boxes p{
    margin: 0;
}
.boxes{
    background-color: #f8f8f8;
    padding: 20px;
}
.boxes h4{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.delivery{
    background: url(../img/delivery-icon.png) no-repeat 0 8px transparent;
    padding-left: 55px;
    transition: all .2s ease-in-out;
}
.payment{
    background: url(../img/payment-icon.png) no-repeat 0 8px transparent;
    padding-left: 55px;
    transition: all .2s ease-in-out;
}
.return{
    background: url(../img/return-icon.png) no-repeat 0 8px transparent;
    padding-left: 55px;
    transition: all .2s ease-in-out;
}
.delivery:hover, .payment:hover, .return:hover{
    transform: scale(0.95);
}
.line-right:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 40px;
    background-color: #d7d7d7;
    right: 50px;
    top:0;
}
#popular{
    margin: 30px 0;
}
.popular-box{
    background-color: #f8f8f8;
}
.popular-img img{
    float: right;
}
.popular-text{
    padding: 20px;
}
.popular-text h4{
    font-size: 20px;
    font-weight: bold;
}
.popular-text h6{
    font-size: 16px;
    margin-bottom: 15px;
}
.popular-text p{
    font-size: 16px;
    font-weight: 300;
}
.popular-text h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.arrows ul li{
    display: inline-block;
    margin: 0 5px;
}
.arrows{
    float:right;
    margin-top: 7px;
}
#popular h2{
    font-size: 24px;
    font-weight: 300;
}
#popular hr{
    border-top: 1px solid #ededed;
    margin-bottom: 40px;
}
.box h4{
    font-size: 14px;
    font-weight: bold;
}
.box p{
    margin: 5px 0;
}
.box-photo{
    margin-bottom: 15px;
}
.price{
    font-size: 18px;
    font-weight: bold;
}
.basket-grey{
    float: right;
    margin-top: 20px;
}
#double-banner{
    margin: 40px 0;
}
.banner{
    background-color: #f8f8f8;
    width: 100%;
    height: 150px;
    overflow: hidden;
    padding: 20px 0 0 20px;
    position: relative;
}
.banner-one:after{
    content: '';
    position: absolute;
    background: url(../img/banner1-bg.png);
    width: 387px;
    height: 150px;
    top: 0;
    right: -20px;
    transition: all .3s ease-in-out;
}
.banner h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    z-index: 999;
    position: relative;
}
.banner-two:after{
    content: '';
    position: absolute;
    background: url(../img/banner2-bg.png);
    width: 387px;
    height: 150px;
    top: 0;
    right: -20px;
    transition: all .3s ease-in-out;
}
.banner-one:hover:after, .banner-two:hover:after{
    right: 0;
}
#special h2{
    font-size: 24px;
    font-weight: 300;
}
#special hr{
    margin-bottom: 40px;
}
#newsletter{
    background-color: #ffd54c;
    padding: 40px 0;
}
.pull-left {
    float: left;
}
.media-body {
    display: table-cell;
    vertical-align: top;
}
#newsletter{
    margin: 40px 0;
}
#newsletter h2{
    font-size: 30px;
    font-weight: bold;
}
#newsletter p{
    font-size: 18px;
    margin: 0;
}
#newsletter .pull-left{
    margin-right: 25px;
    margin-top: 12px;
}
#newsletter input[type="text"]{
    width: 80%;
    border: 0;
    padding: 13px;
    border-radius: 6px;
    display: inline-block;
    transition: all .2s ease-in-out;
}
#newsletter input[type="text"]:focus{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.21);
}
.save{
    background-color: #333333;
    text-align: center;
    color: #fff;
    padding: 13px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    display: inline-block;
    margin-left: -10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.save:hover{
    background-color: #000;
}
footer p{
    font-size: 14px;
    line-height: 24px;
    color: #616161;
}
.bold{
    color: #333333;
    font-weight: bold;
}
footer{
    margin: 40px 0;
}
footer p{
    margin: 0;
}
.logo-footer{
    margin-bottom: 20px;
}
footer h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
footer ul li{
    line-height: 36px;
}
footer li::before {
    background-color: #ffd54c;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 5px;
    width: 5px;
}
.payments{
    float: right;
}
.styled-select {
    background:#fff url(../img/select-arrow.png) no-repeat 96% 5px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    border-radius: 4px;
}
.styled-select select {
    background: transparent;
    border: 0;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    width: 105%;
    cursor: pointer;
}
#breadcrumbs{
    background-color: #f8f8f8;
    padding: 15px 0;
    text-align: center;
}
#breadcrumbs a{
    margin: 0;
    color: #616161;
    font-weight: 200;
}
#breadcrumbs h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
#content{
    margin: 30px 0;
}
.product-photo{
    padding: 20px;
}
.quantity{
    background-color: #F6f6f6;
    display: inline-block;
    padding: 12px;
    margin: 0 auto 0 0;
}

.clickable {
    cursor: pointer;
}

.quantity span{
    font-weight: 400;
    padding: 0 9px;
}
.cart-item h4{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}
.discount{
    background-color: #ffd54c;
    padding: 3px 10px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 auto 0 0;
}
.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fa-trash-alt{
    font-size: 24px;
    transition: all .2s ease-in-out;
}
.fa-trash-alt:hover{
    color: #ffd54c;
}
.cart-items .cart-item {
    border-bottom: 1px solid #ededed;
}
.cart-items{
    margin-bottom: 30px;
}
.continue{
    font-size: 16px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.continue:hover{
    color: #ffd54c;
}
.fa-chevron-left{
    font-size: 14px;
    margin-right: 4px;
}
.cart-summary{
    border: 1px solid #ededed;
}
.cart-block{
    padding: 20px;
}
.cart-summary-line .value {
    float: right;
}
.cart-summary hr{
    margin: 0;
}
.cart-block span{
    font-weight: 500;
}
.center{
    text-align: center;
}
.rest-summary{
    margin: 20px 0;
}
.rest-summary h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.radio {
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}
.radio:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio input:checked ~ .checkmark {
  background-color: #ffd54c;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio input:checked ~ .checkmark:after {
  display: block;
}
.radio .checkmark:after {
 	top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
	border-radius: 50%;
	background: white;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
  background-color: #ffd54c;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox .checkmark{
    border-radius: 0!important;
}
.list h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.separator{
    height: 20px;
}
.bg-grey{
    padding: 20px;
    border: 1px solid #ededed;
    margin-bottom: 20px;
}
.list h2{
    font-size: 24px;
    font-weight: 300;
}
.list hr{
    margin-bottom: 40px;
}
.box {
    border: 1px solid #ededed;
    padding: 20px;
    margin-bottom: 20px;
    transition: all .2s ease-in-out;
}
.box:hover{
    box-shadow: 0 0 30px #e6e6e6;
}
hr{
    border-top:1px solid #ededed;
}
.fa-list-ul, .fa-th{
    font-size: 16px;
}
.listDisplay li{
    display: inline-block;
    margin-left: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.listDisplay li:hover{
    color: #ffd54c;
}
.listDisplay{
    float: right;
    margin-top: 8px;
}
.pagination li{
    display: inline-block;
    padding: 5px 15px;
}
.pagination{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.pagination .active{
    background-color: #ffd54c;
}
.listCollapse {
    width: 100%;
    background-color: #eee;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
}
#collapseList .card {
    border: 0;
    padding: 0;
    border-radius: 0;
    margin-top: 9px;
}
#collapseList .card ul{
    margin-top: 5px;
}
#collapseList .card ul li{
    line-height: 36px;
    border-top:1px solid #ededed;
}
#collapseList .card ul li:nth-child(1){
    border: 0;
}
.fa-chevron-down {
    font-size: 12px;
    margin-left:10px;
}
.collapsed .fa-chevron-down {
    transform: rotate(0deg)!important;
    transition: all .2s ease-in-out;
}
.listCollapse .fa-chevron-down{
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}
.listCollapse:hover{
    text-decoration: none;
}
.document-heading, h2{
    font-size: 24px;
    margin-bottom: 15px;
}
.page h2{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 10px;
}
.page b, .page strong{
    font-weight: 600;
}
.page ul li, .page ol li{
    list-style: circle;
}
.page h1{
    font-size: 24px;
}
.page p, .text{
    line-height: 24px;
}
.page .btn-link{
    color: #333333;
    text-decoration: none;
}
.card{
    border-radius: 0;
    margin: 10px 0;
    border: 0;
}
.card-header{
    border-bottom: 0;
    background-color: #f8f8f8;
}
.page .card-body {
    box-shadow: 0 0 30px #eaeaea;
}
.product-box {
    padding: 30px;
    box-shadow: 0 0 30px #afafaf33;
    margin-bottom: 30px;
}
.product-box h4{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.rating{
    display: flex;
    align-items: center;
}
.product-code{
    display: inline-block;
}
.rating-links{
    display: inline-block;
}
.product-code {
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
}
.product-box h6{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
}
.product-box .product-photo{
    padding: 0;
}
.product-photo ul li{
    margin: 10px 0;
    text-align: center;
}
.product-photo ul li img{
    opacity: 0.5;
}
.product-photo ul li:nth-child(1) img{
    opacity: 1;
}
.product-photo ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-photo{
    margin-bottom: 20px;
}
.price-in-stock{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.detail-price {
    font-size: 24px;
    font-weight: 600;
}
.stock {
    float: right;
    font-size: 12px;
    color: #169543;
    margin-top: 10px;
}
.stock-unavailable {
    float: right;
    font-size: 12px;
    color: #c82333;
    margin-top: 10px;
}
.check{
    background-color: #169543;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    line-height: 12px;
    text-align: center;
}
.check-unavailable {
    background-color: #c82333;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    line-height: 12px;
    text-align: center;
}
.check .fa-check{
    color: #fff;
    font-size: 8px;
}
.product-box .button{
    width: 100%;
}
.buy{
    background-color: #202020;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 12px 40px;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    z-index: 99999;
    position: relative;
    width: 100%;
    font-weight: 500;
}
.buy:hover{
    background-color: #ffd54c;
    color: #202020;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.product-box .buy{
    margin-top: 20px;
}
.share-list li{
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.share-list li:hover{
    color: #ffd54c;
}
.share-list li i{
    color: #ffd54c;
    font-size: 16px;
    margin-right: 5px;
}
.share-list li:nth-child(1){
    border-right: 1px solid #eaeaea;
    padding-right: 15px;
    margin-right: 10px;
}
.share-list {
    margin-top: 20px;
}
.category{
    margin-top: 20px;
}
.product-box-icon i{
    font-size: 26px;
    color: #e0e0e0;
}
.box-icons{
    text-align: center;
}
.box-icons h6{
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}
.line-icon-right{
    border-right:1px solid #ededed;
}
.product-label {
    font-size: 11px;
    text-transform: uppercase;
    z-index: 3;
    position: absolute;
    display: block;
    right: 9px;
    top: 15px;
}
.product-label > span.label-sale {
    background-color: #ffd54c;
}
.product-label > span {
    display: block;
    clear: both;
    text-align: center;
    border: none;
    z-index: 1;
    padding: 4.5px 10px 4.5px 12px;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}
.product-label > span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #9b7f26;
    position: absolute;
    display: block;
    right: 0;
    top: 100%;
    transform: rotate(-45deg);
    margin-top: -1px;
}
#myTab {
    border-bottom: 1px solid #ededed;
    text-align: center;
    margin: auto;
    width: 100%;
    display: inline-block;
}
#myTab li{
    display: inline-block;
    margin: 0 15px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: 0;
    background-color: transparent;
}
.nav-tabs .nav-link{
    border: 0;
}
#myTab .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #adadad;
    transition: all .2s ease-in-out;
    position: relative;
}
#myTab .nav-link.active{
    color: #000;
}
#myTab .nav-link:hover:before, #myTab .nav-link.active:before{
    left: 0;
    right: 0;
    background: #ffd54c;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
#myTab .nav-link:before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    height: 2px;
    background: transparent;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
#myTab .nav-link:hover{
    color: #333333;
}
#myTabContent {
    margin-top: 15px;
}
.table td, .table th{
    border-top: 1px solid #ededed;
}
.table tr:nth-child(1) td, .table tr:nth-child(1) th{
    border: 0;
}
#myTabContent p{
    line-height: 24px;
    margin-bottom: 0;
}
#opinion h6{
    margin-bottom: 25px;
}
input[type="text"], textarea {
    width: 100%;
    border: 1px solid #ededed;
    padding: 11px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}
input[type="text"]:focus, textarea:focus{
    box-shadow: 0 0 30px #afafaf33;
    border: 1px solid #d1d1d1;
}

input[type="password"], textarea {
    width: 100%;
    border: 1px solid #ededed;
    padding: 11px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}
input[type="password"]:focus, textarea:focus{
    box-shadow: 0 0 30px #afafaf33;
    border: 1px solid #d1d1d1;
}

textarea{
    height: 150px;
}
.form-comment .button{
    width: auto;
}
.bold{
    font-weight: 600;
}
.informations h4{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
}
.space{
    height: 30px;
    margin: 1px;
}
.informations .styled-select select{
    width: 112%;
}
.informations .styled-select{
    margin-top: 5px;
}
.informations .radio {
    margin-right: 20px;
}
.underline{
    text-decoration: underline;
}
.accountExist{
    margin-top: 20px;
}
.account h4{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
}
.history-box{
    padding: 20px;
    border: 1px solid #ededed;
}
.history-box h6{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}
.history-box th{
    background-color: #f8f8f8;
    padding: 15px;
}
.history-box td{
    background-color: #f5f5f5;
    padding: 15px;
}
.history-box table{
    width: 100%;
}
.label-pill {
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    background-color:#FF8C00
}
.history-box .fa-file-pdf{
    font-size: 21px;
}
.back{
    margin-top: 20px;
}
.account .styled-select select{
    width: 112%;
}
.account .styled-select{
    margin-top: 5px;
}
.address .styled-select select{
    width: 112%;
}
.address .styled-select{
    margin-top: 5px;
}
.address .cart-items h4{
    font-size: 14px;
}
.address .cart-items .price {
    font-size: 15px;
    font-weight: 600;
}
.discount-btn{
    background-color: #ffd54c;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 10px;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    z-index: 99999;
    position: relative;
    font-weight: 500;
    width: 100%;
}
.discount-btn:hover{
    background-color: #202020;
    color: #ffd54c;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.discount-box input[type="text"]{
    margin-top: 0;
}
.sub-total span{
    float: right;
    font-size: 14px;
    font-weight: 600;
}
.sub-total label{
    margin-bottom: 0;
}
.address h4{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
}
.address .radio {
    margin-right: 20px;
}
.address p{
    line-height: 24px;
    margin-bottom: 0;
}
.change{
    color: red;
}
















































button.navbar-toggler.navbar-toggler-right {
    float: right;
    margin-top: 48px;
}
.navbar{
    display: block;
    padding: 0;
}
@media only screen and (min-width: 1200px){
    #navbarCollapse{
        display: block!important;
    }
}
@media only screen and (max-width: 1200px){
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    #navbarCollapse {
        width: 100%;
        text-align: center;
    }
    #newsletter input[type="text"]{
        width: 75%;
    }
    .product-box .quantity{
        padding: 12px 1px;
    }
    .product-box .button{
        padding: 12px 10px;
    }
    .share-list li{
        font-size: 12px;
    }
}
@media only screen and (max-width: 992px){
    #main{
        display: block;
        height: auto;
        padding: 30px 0;
    }
    #main img{
        display: none;
    }
    .line-right:after{
        display: none;
    }
    .banner-one::after{
        right: -200px;
    }
    .banner-two::after{
        right: -120px;
    }
    #newsletter input[type="text"] {
        width: 85%;
    }
    #newsletter p{
        margin-bottom: 20px;
    }
    .cart-items {
        margin-bottom: 10px;
    }
    .marginMobileTop{
        margin-top: 20px;
    }
    #content .bg-grey{
        display: none;
    }
    .hidden-md-down{
        display: none;
    }
    .address-margin{
        margin-top: 15px;
    }
    .address h4{
        margin-top: 15px;
    }
}
@media only screen and (max-width: 768px){
    #top{
        display: none;
    }
    header{
        text-align: center;
    }
    header ul{
        float: none;
        margin-top: 20px;
    }
    header li{
        margin-left: 0;
    }
    .delivery, .payment{
        margin-bottom: 20px;
    }
    .popular-img {
        text-align: right;
    }
    .popular-img img{
        float: none;
    }
    .popular-box{
        margin-bottom: 20px;
    }
    .arrows{
        display: none;
    }
    .banner-one{
        margin-bottom: 20px;
    }
    #newsletter input[type="text"] {
        width: 60%;
    }
    footer h4{
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .payments, .basket-grey{
        float: none;
    }
    .popular-text, .box, footer{
        text-align: center;
    }
    .cart-items .cart-item{
        padding-bottom: 15px;
    }
    .price{
        font-size: 16px;
    }
    .quantity span{
        padding: 0 2px;
    }
    header li{
        margin: 0 10px;
    }
    #content .popular-box{
        display: none;
    }
    #accordion .btn {
        white-space: inherit;
        text-align: center;
        width: 100%;
    }
    .product-photo ul li{
        display: inline-block;
    }
    .product-photo ul li img {
        width: 80px;
    }
    .product-photo ul{
        display: block;
        text-align: center;
    }
    .product-box .quantity span {
        padding: 0 8px;
    }
    .share-list li {
        font-size: 11px;
    }
    .history-box{
       overflow-x: scroll; 
    }
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px #c4a300; }
    40% { box-shadow: 0 0 20px #c4a300; }
    60% { box-shadow: 0 0 20px #c4a300; }
    100% { box-shadow: 0 0 -10px #c4a300; }
}

.basket-glow {
    animation: glowing 1000ms;
}